.nodered/.flows_OPN-MC-298.local.json.backup
[{"id":"b8fcd8d52134c6be","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"66887729c2f5a09e","type":"inject","z":"b8fcd8d52134c6be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":100,"wires":[[]]},{"id":"a44f8133.6b44e8","type":"inject","z":"b8fcd8d52134c6be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":300,"wires":[["dca34826.bcdc58"]]},{"id":"dca34826.bcdc58","type":"http request","z":"b8fcd8d52134c6be","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:5555/auth/logout","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":660,"y":300,"wires":[[]]},{"id":"fde1887a319c8d7a","type":"inject","z":"b8fcd8d52134c6be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":80,"wires":[[]]}]